@charset "UTF-8";

/*
    Paleta de cores
    #CFCCD9
    #011C26
    #F2B035
    #8C4303
    #D95204
    GRADIENTE
    #F28D21 - RGB 242, 141, 33 - HSB 31, 86, 95 - CMYK 0, 42, 86, 5 - LAB 68, 31, 67
    #627176 - RGB 98, 113, 118 - HSB 195, 17, 46 - CMYK 17, 4, 0, 54 - LAB 47, -4, -5
    #331713 - RGB 51, 23, 19 - HSB 8, 63, 20 - CMYK 0, 55, 63, 80 - LAB 12, 14, 9
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #CFCCD9;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background: #CFCCD9 url(../imagens/projeto-login.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}